h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    background: linear-gradient(black, pink);
}
ul li{
    padding-left: 50px;
    list-style: none;
}